/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
 color: #333;
 text-shadow: none; /* Prevent inheritance from `body` */
}

.counter {
  width: 33.33%;
  background-color: transparent;
  border: none;
  padding-inline: 0.5rem;

  h2 {
    font-size: 70px;
    background-color: hsl(236, 21%, 26%);
    color: hsl(345, 95%, 68%);
    border: 2px solid hsl(235, 16%, 14%);
    border-radius: 0.5rem;
    padding: 1rem;
  }

  p {
    font-size: 14px;
    color: hsl(237, 18%, 59%);
    letter-spacing: 2px;
  }

}

/*
* Base structure
*/

body {
 text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
 box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
 font-family: 'Red Hat Text', sans-serif;
 font-weight: 700;
 background-image: url("../images/bg-stars.svg");
}

.cover-container {
 max-width: 42em;
}

footer {
  background-image: url('../images/pattern-hills.svg');
}


/*
* Header
*/
.nav-masthead .nav-link {
 color: rgba(255, 255, 255, .5);
 border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
 border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
 margin-left: 1rem;
}

.nav-masthead .active {
 color: #fff;
 border-bottom-color: #fff;
}